<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
        <title>Scheduloo</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
        <script src="{% static "js/scheduloo.js" %}"></script>
	</head>
	<body  ng-app="scheduloo" ng-controller="scheduloo-controller">
        <div class='step1'>
            <div ng-repeat="course in courses" class="course-list"> 
                <p class="id"> 
                    {% verbatim %}
                    {{ course.subject }} {{ course.catalog }}
                    {% endverbatim %}
                <button class="drop-btn" ng-click="drop_course($index)">drop</button>
                </p>
            </div>
            
            <form name="new_course">
                <input name="subject" type='text'>
                <input name="catalog" type='text'>
                <button class="add-btn" ng-click="add_course()">add</button>
            </form>
            
            <button class="next-btn" ng-click="step1_step2()">next</button>
			<p>
            {% verbatim %}
			{{ message }}
            {% endverbatim %}
			</p>
        </div>
        <div class='step2'></div>
	</body>
</html>
