<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
        <title>Scheduloo</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
        <script src="{% static "js/scheduloo.js" %}"></script>
        

	</head>
	<body  ng-app="scheduloo" ng-controller="scheduloo-controller">

		<p>
		{% verbatim %}
		{{ message }}
		{% endverbatim %}
		</p>
		<div class='step1'>
			<div ng-repeat="course in courses" class="course-list"> 
				<p class="id"> 
				{% verbatim %}
				{{ course.subject }} {{ course.catalog }}
				{% endverbatim %}
				<button class="drop-btn" ng-click="drop_course($index)">drop</button>
				</p>
			</div>

			<form name="new_course">
				<input name="subject" type='text'>
				<input name="catalog" type='text'>
				<button class="add-btn" ng-click="add_course()">add</button>
			</form>

			<button class="next-btn" ng-click="step1_step2()">next</button>

		</div>

		<div class='step2'>
			<div ng-repeat="section in sections" class="rating_chart">
				<div ng-repeat="component in section">
					<div ng-repeat="each in component">
                        {% verbatim %}
						<form name='{{ each.id }}'>
						{{ each.name }} <input name="rating" type='integer' value=0>
						</form>
                        {% endverbatim %}
					</div>
				</div>
			</div>
            <button class="next-btn" ng-click="search()">give me a hint!</button>
		</div>

	</body>
</html>
